[submodule "Fraser-ICS4U"]
	path = course-repo
	url = https://github.com/AritroSaha10/Fraser-ICS4U.git
[submodule "final-project"]
	path = final-project
	url = https://github.com/AritroSaha10/ReliefExchange-ICS4U.git
    branch = master
